.Letras {
  display: flex;
  font-size: 100%;
  margin: 0 5px;
}

.Letras:hover {
  cursor: pointer;
}

.clickeado {
  color: red;
}

/*Letra Palabrea Component*/

.letra {
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 1s;
}

.letra.hide {
  opacity: 0;
}