@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Press+Start+2P&display=swap');

* {
  color: whitesmoke;
  font-size: 12pt;
}

@media only screen and (max-width: 800px) {
  * {
    color: whitesmoke;
    font-size: 7pt;
  }
}

body {
  background-color: #151320;
}